/* Main Content */
.main-content {
  width: 100%;
  height: auto;
  padding: 80px;
}

.main-content summary {
  padding: 20px;
  text-align: center;
}

summary {
  color: rgb(29, 175, 175);
  font-size: 300%;
  font-weight: bolder;
}

summary:hover {
  color: rgb(90, 90, 221);
  cursor: pointer;
}

.main-content a {
  display: flex;
  justify-content: center;
}

button {
  color: white;
  border: 0;
  background-color: rgb(33, 149, 226);
  padding: 20px;
  border-radius: 10px;
}
button:hover {
  cursor: pointer;
  color: rgb(33, 149, 226);
  background-color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.5), 0 17px 50px 0 rgba(0, 0, 0, 0.5);
}

/* ------------------------------------------------------------------------------------ */

/* Media Queries */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main-content {
    width: 100%;
    padding: 80px;
  }

  summary {
    font-size: 350%;
  }

  button {
    font-size: 10%;
    padding: 20px;
    border-radius: 10px;
  }
}
