.main-content-nav a {
  margin: 10px;
  padding: 3px;
}

.description-table {
  text-align: center;
  border: 1px rgb(97, 44, 221) dashed;
  text-align: center;
}

.description-table td {
  font-size: 17px !important;
}

table,
th,
td {
  border: 1px solid rgb(97, 44, 221);
}

td {
  padding: 10px;
}
